{{outlet}}
<h1>all that good card info</h1>


<h1>{{model.name}}</h1>
<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{model.multiverseid}}&type=card" height = "200" width = "200"/>
<h3>{{model.colors}}</h3>
<h3>{{model.type}}</h3>
