{{outlet}}
<h1>all that good card info</h1>


<h1>{{model.name}}</h1>
<img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{model.multiverseid}}&type=card" height = "400" width = "300"/>
<h3>{{model.colors}}</h3>
<h3>{{model.type}}</h3>
<hr />
<p>{{model.text}}</p>
<hr />
<p>
  {{RESTAdapter.host}}
</p>
